body{
    font-family: 'Jost';
    font-weight: 400;
}
img{
    width: 100%;
}
.fixed{
    position: fixed;
    top: 150px;
    right: 0;
    width: 60px;
    background-color: rgba(255,255,2555,1);
    border-radius: 5px;
    margin-right: 15px;
    box-shadow: -10px 0px 20px 2px rgba(0,0,0,.06);
    text-align: center;            
}
.fixed i{
    padding: 8px 0px;
    font-size: 22px;
    color: #9396a5;    
}
.section1{
    background-image: url(../image/Ellipse-708.jpg);
    background-size: cover;
    height: 900px;
    background-position: center center; 
    display: flex;         
    justify-content: center;
    overflow: hidden;          
}
.section1 .card{
    background-color: transparent;
    padding-top: 160px;
    position: relative;        
}
.section1 .btn{
    background-color: rgb(254, 57, 57);
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    font-weight: 700;
    font-size: 15px;
    border: 2px solid transparent;
    padding: 11px 46px;
    border-radius: 40px;
    text-transform: uppercase;
    position: absolute;
    bottom: 0%;
}
.section1 .btn:hover{
    background-color: transparent;
    border-color: #fff;
}
.header{
    background-color:transparent;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
    padding-top: 30px;            
} 
.navbar-expand-lg .navbar-nav .nav-link {
    padding-left: 20px;    
}
.nav-link {
    color:#fff;    
}
.header a{
    color: #fff;
    text-transform: uppercase;
    font-weight: 500;    
}
.navbar-light .navbar-nav .nav-link.active{
    color: #fff;    
}
.section1{
    text-align: center;    
}
.section1 .red{    
    font-family: Montserrat;
    color: rgb(255, 57, 57);
    font-weight: 700;
    font-size: 50px;    
}
.section1 .gray{
    font-family: Montserrat;
    color: rgb(143, 148, 166);
    font-weight: 700;
    font-size: 50px;    
}
.section1 p{
    font-family: Montserrat;
    color: rgb(255, 255, 255);
    font-weight: 900;
    font-size: 135px;
    line-height:1;
    margin-bottom: 0px;
    position: relative;
}
.section2{
    padding: 80px 0px;
}
.section2 .text,.section8 .text{
    width: 85%;
}
.section2 .btn1,.section8 .btn1{
    text-transform: uppercase;
    padding: 3px 16px;
    font-size: 12px;
    border-radius: 8px;
    background-color: #000000;
    color: #ffffff;
    font-weight: 700;
    margin-bottom: 15px;
    border: none;
}
.section2 h2,.section8 h2{
    font-size: 60px;
    font-weight: 700;
    margin-bottom: 25px;
    color: #000000;    
}
.section2 .gray,.section8 p{
    margin-bottom: 15px;
    font-size: 18px;
    color: #515050;
    line-height: 2;    
}
.section2 .dark-gray{
    font-weight: 700;
    font-size: 18px;
    color: #515050;
    line-height: 2;
}
.section3,.section9{
    padding-bottom: 80px;
}
.section3 h2{
    font-weight: 700;
    font-size: 52px;
    color: #000000;
    margin-bottom: 80px;
    padding-left: 40px;
}
.section3 .btn2{
    font-weight: 700;
    padding: 5px 16px;
    font-size: 12px;
    border-radius: 8px;
    background-color: #ff3939;
    color: #ffffff;
    margin-bottom: 20px;
    border: none;
}
.section3 h3{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
    margin-top: 20px;
    margin-bottom: 15px;
}
.section3 .btn3{
    margin-bottom: 15px;
    font-size: 14px;
    font-weight: 700;
    padding: 5px 26px;
    border-radius: 18px;
    background-color: rgba(255,255,255,0.01);
    color: #7b7b7b;
    border: 2px solid #f4f4f4;
}
.section3 p{
    margin-bottom: 15px;
    color: #515050;
    font-size: 18px;
    line-height: 2;
}
.section3 .span1{
    font-size: 40px;
    font-weight: 700;
    color: #000000;
}
.section3 .btn4{
    float: right;
    padding: 10px 26px;
    margin-right: 20px;
    font-size: 14px;
    border-radius: 22px;
    background-color: #000000;
    color: #ffffff;
    border: none;
    margin-top: 7px;
}
.section3  i , .section6 i,.section7 i{
    padding-right: 8px;    
}
.section3 .card{
    text-align: center;
    padding-top: 35px;
    background-color: #fbf8f6;
    border-radius: 20px ;
    border: none;
    margin-bottom: 15px;
}
.section6 .card,.section7 .card{
    padding-top: 35px;
    background-color: #fbf8f6;
    border-radius: 20px ;
    border: none;
    margin-bottom: 15px;
}
.section3 .card img,.section6 .card img,.section7 .card img{
    width: 70%;   
}
.section3 .card h5{
    font-size: 21px;
    font-weight: 700;
    color: #000000;
}
.section3 .btn5,.section6 .btn5,.section7 .btn5{
    padding: 0px 15px;
    font-size: 20px;
    border-radius: 15px;
    background-color: #ff3939;
    color: #ffffff;
    margin: 15px 0px;
    border: none;
}
.section3 .span2{
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    margin-bottom: 15px;
}
.section4,.section5{
    padding-top: 80px;
    background-color: #191a1d;
}
.section4 .btn6,.section5 .btn6{
    padding: 5px 16px;
    font-size: 15px;
    border-radius: 8px;
    background-color: #ff3939;
    color: #ffffff;
    margin-bottom: 20px;
    border: none;
}
.section4 h2,.section5 h2{
    font-size: 60px;
    color: #fff;
    font-weight: 700;
    margin-bottom: 30px;
}
.section4 p,.section5 p{
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom:25px;
}
.section4 .btn7,.section5 .btn7{
    padding: 10px 52px;
    font-size: 18px;
    border-radius: 40px;
    background-color: transparent;
    border: 2px solid #ffffff;
    color: #ffffff;
}
.section4 .btn7:hover,.section5 .btn7:hover{
    background-color: #ff3939;
    border: none;
}
.section5,.section10{
    padding-bottom: 80px;
}
.section5 .text{
    padding-left: 80px;
}
.section6,.section8 {
    padding: 80px 0px;
}
.section6 h2,.section7 h2{
    font-size: 60px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 30px;
}
.section6 .card h5,.section7 .card h5,.section10 h2{
    font-size: 26px;
    font-weight: 700;
    color: #000000;
    margin-bottom: 15px;
}
.section6 .card p,.section7 .card p,.section10 p,.section10 span{    
    color: #515050;    
    font-size: 18px;
}
.section10 p{
    margin:15px 0px;
}
.section6 .span2,.section7 .span2{
    float: right;
    font-weight: bold;
    font-size: 14px;
    color: #000000;
    margin: 17px 0px;
}
.section8 .red{
    font-size: 60px;
    color: #ff3939;    
}
.section8 h3{
    font-size: 18px;
    font-weight: 700;
    color: #000000;
}
.section10 .first .basic{
    font-size: 25px;
    padding-right: 8px;    
}
.section10 .red{
    color: #ff3939;        
}
.section10 span{
    line-height: 2;
    padding-left: 8px;
}
.section10 .email{    
    color: #515050;
    background-color: #f4f4f4;
    border-color: rgba(255,255,255,0.01);
    border-radius: 28px;
    border-width: 2px;
    padding: 10px 50px;
    margin-bottom: 10px;
}
.section10 .submit{
    background-color: #ff3939;
    font-weight: 700;
    color: #fff;
    font-size: 18px;
    border-radius: 28px;
    padding: 10px 80px;
    border: none;
    margin-bottom: 15px;
}
.section10 .submit:hover{
    background-color: black;
}
.section10 h6{
    color: #858585;    
}
.section10 .third{
    text-align: center;
}
















@media(max-width:768px){
   .section1 .btn{
       bottom: 30%;
   }
   .section5 .text{
       padding-left: 0px;
   }
   .section10 .third{
       text-align: left;
   }
   .section10 .text{
       padding-bottom: 20px;
   }
}
@media(max-width:414px){
    .section1{
        height: 500px;
    }
    .section1 .card{
        padding-top: 70px;
    }
    .section1 .red{
        font-size: 25px;
    }
    .section1 .gray{
        font-size: 25px;
    }
    .section1 p{
        font-size: 60px;
    }
    .section1 .btn{
        bottom: 48%;
        padding: 8px 20px;
    }
    .section2{
        padding: 40px 0px;
    }
    .section2 h2,.section8 h2{
        font-size: 30px;
    }
    .section8 h2{
        margin-bottom: 0px;
    }
    .section2 .gray,.section8 p{
        font-size: 12px;
    }
    .section2 .dark-gray{
        font-size: 12px;
    }
    .section3 h2{
        font-size: 25px;
        margin-bottom: 0px;
        padding-left: 20px;
    }
    .section3 h3{
        font-size: 20px;
    }
    .section3 .btn3{
        padding: 5px 13px;
    }
    .section3 p{
        font-size: 12px;
    }
    .section4 h2,.section5 h2{
        font-size: 30px;        
    }
    .section4 p,.section5 p{
        font-size: 10px;        
    }
    .section6 h2,.section7 h2{
        font-size: 30px;
    }
    .section10 p{
        font-size: 12px;
    }
    .fixed{
        top: 90px;
        width: 40px;
    }
    .fixed i{
        font-size: 16px;
        padding-top: 4px;
        padding-bottom: 0px;
    }
}